<!DOCTYPE html>
<html lang="en" th:replace="~{fragment/layout :: layout (~{::body},'ingredientList')}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>List Ingredients</title>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="card card-primary">
                <div class="card-heading">  <div class="row">
                    <div class="col-md-11 ">
                        <h4 class="panel-title">Ingredients</h4>
                    </div>
                    <div class="col-md-1">
                        <a class="btn btn-default" href="#" role="button" th:href="@{'/recipe/' + ${ingredients[0].recipeId} + '/ingredient/new'}">New</a>
                    </div>
                </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive" th:if="${not #lists.isEmpty(ingredients)}">
                        <table class="table table-hover ">
                            <thead class="thead-inverse">
                            <tr>
                                <th>ID</th>
                                <th>Description</th>
                                <th>View</th>
                                <th>Update</th>
                                <th>Delete</th>
                            </tr>
                            </thead>
                            <tr th:remove="all">
                                <td>123</td>
                                <td>Tasty Goodnees 1</td>
                                <td><a href="#">View</a></td>
                                <td><a href="#">Update</a></td>
                                <td><a href="#">Delete</a></td>
                            </tr>
                            <tr th:remove="all">
                                <td>12333</td>
                                <td>Tasty Goodnees 2</td>
                                <td><a href="#">View</a></td>
                                <td><a href="#">Update</a></td>
                                <td><a href="#">Delete</a></td>
                            </tr>
                            <tr th:each="ingredient : ${ingredients}">
                                <td th:text="${ingredient.id}">334</td>
                                <td th:text="${ingredient.amount} + ' ' + ${ingredient.unitOfMeasure.description} + ' ' + ${ingredient.description}">
                                    Tasty Goodnees 3
                                </td>
                                <td><a href="#"
                                       th:href="@{'/recipe/' + ${ingredient.recipeId} +'/ingredient/' + ${ingredient.id} + '/detail'}">View</a>
                                </td>
                                <td><a href="#"
                                       th:href="@{'/recipe/' + ${ingredient.recipeId} +'/ingredient/' + ${ingredient.id} + '/update'}">Update</a>
                                </td>
                                <td><a href="#"
                                       th:href="@{'/recipe/' + ${ingredient.recipeId} + '/ingredient/' + ${ingredient.id} + '/delete'}">Delete</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>