<html th:fragment="layout (template, menu)" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link rel="shortcut icon" th:href="@{/resources/images/favicon.png}" type="image/x-icon">
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" rel="stylesheet"
          th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css}">
    <script src="/webjars/jquery/3.0.0/jquery.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            th:href="@{/webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
    <title>Recipe</title>
    <!--20190209, TODO: Custom CSS file will be added-->
    <link rel="stylesheet" th:href="@{/resources/css/recipe.css}"/>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light rounded">
    <a class="navbar-brand" href="/">Recipe Home</a>
    <button aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarsExample09" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample09">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/">Recipes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">Ingredient</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-md-0">
            <input aria-label="Search" class="form-control" placeholder="Search" type="text">
        </form>
    </div>
</nav>
<div class="container-fluid">
    <div class="container xd-container">
        <th:block th:include="${template}"/>
    </div>
</div>
</body>
</html>