<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--20190105, Thymeleaf href is added, cause thymeleaf for run time, custom link or scripts for trying with browser-->
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" rel="stylesheet"
          th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css}">
    <script src="/webjars/jquery/3.0.0/jquery.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            th:href="@{/webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
    <meta charset="UTF-8"/>
    <title>Recipe Home</title>
</head>
<body>
<style>
    .borders {
        border-radius: 8px;
        border: 1px solid #0b70b5;
        width: 50%;
        margin: 0 auto;
    }

    .bg-blue {
        background-color: #0b70b5;
        color: white;
    }

    .header {
        font-size: 20px;
        border-bottom: 2px solid #0b70b5;
        font-weight: bold;
    }

    .m-t-20 {
        margin-top: 20px;
    }

    .m-15 {
        margin: 15px;
    }

    .card-title {
        padding: 10px;
    }
</style>
<div class="container-fluid m-t-20">
    <div class="borders">
        <div class="bg-blue">
            <h4 class="card-title">My Recipes!</h4>
        </div>
        <div class="row header  m-15">
            <div class="col-md-2">ID</div>
            <div class="col-md-6">Description</div>
            <div class="col-md-2">View</div>
            <div class="col-md-2">Update</div>
        </div>
        <div class="row  m-15" th:each="recipe : ${recipes}">
            <div class="col-md-2" th:text="${recipe.id}"></div>
            <div class="col-md-6" th:text="${recipe.description}"></div>
            <div class="col-md-2"><a th:href="@{'/recipe/showdetail/'+${recipe.id}}">View</a></div>
            <div class="col-md-2"><a th:href="@{'/recipe/'+${recipe.id}+'/update'}">Update</a></div>
        </div>
    </div>
</div>
</body>
</body>
</html>